<!-- mainCollections.ejs -->

<div class="mainNavbar">
    <div class="input">
        <button style="margin-right: 0px; background-color: green;color: white;">
            Create Database
        </button>

        <button style="margin-right: 0px;">
            Refresh
        </button>

    </div>
</div>
<div class="mainBody">
    <% databaseMetadata.forEach((collection)=> { %>
        <div class="mainCollection" onclick="showCollectioninPanel('<%= collection.name %>')" style="cursor: pointer;">
            <div class="collectionName">
                <%= collection.name %>
                    <div class="left">
                        <span class="material-symbols-outlined left">
                            delete
                        </span>
                    </div>
            </div>
            <div class="collectionMetaData">
                <div class="hello">
                    <b>
                        Storage Size:
                    </b>
                    <br>
                    <%= collection.totalStorageSize %> B
                </div>
                <div class="hello">
                    <b>
                        Collection:
                    </b>
                    <br>
                    <%= collection.totalCollections %>
                </div>

                <!-- Add more metadata fields as needed -->
            </div>
        </div>
        <% }); %>
</div>