

<% databaseNames.forEach(function(dbName) { %>
    <div class="databases">
        <span class="material-symbols-outlined" onclick="showCollectionInSideBar('<%= dbName %>', this)">
            chevron_right
        </span>
        <%= dbName %>
        <div class="left">
            <span class="material-symbols-outlined left" onclick="openCollectionModal('<%= dbName %>')">
                add
            </span>
            <span class="material-symbols-outlined">
                delete
            </span>
        </div>
    </div>
    <div id="collectionDiv<%= dbName %>" style="display: none;">
        
    </div>
    
<% }); %>


